{% extends 'dashboard/base.html' %}

{% block body %}

    <h2>Edit Profile for {{ employee.first_name }} {{ employee.last_name }}</h2>
    <form method="post" action="{%url 'edit_profile'%}"> 
        {% csrf_token %}
        <!-- Add form fields later as needed -->
        <label>Mobile:</label>
        <input type="text" name="mobile" value="{{ employee.mobile }}"><br><br>
        <label>Mobile:</label>
        <input type="text" name="mobile" value="{{ employee.mobile }}"><br><br>
        <label>Mobile:</label>
        <input type="text" name="mobile" value="{{ employee.mobile }}"><br><br>
        <label>Mobile:</label>
        <input type="text" name="mobile" value="{{ employee.mobile }}"><br><br>
        <input type="submit" value="Update">
    </form>
{% endblock %}
