{% extends 'dashboard/base.html' %}


{% block body %}

<br></br>
  <title>Proof Status</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background:   linear-gradient(to right, #360033, #0b8793);
          }
          
    .card {
      background: #fff;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 30px;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }
    h4 {
      margin-bottom: 15px;
      color: #333;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }
    thead {
      background-color: #66999f;
      color: white;
    }
    th, td {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: left;
    }
    .search-bar {
      float: right;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>

<div class="card">
  <h4>Inv Proof Status</h4>
  <table>
    <thead>
      <tr>
        <th>Section</th>
        <th>Description</th>
        <th>Policy No</th>
        <th>Payment Date</th>
        <th>Relation With Beneficiary</th>
        <th>Amount</th>
        <th>Approved Amount</th>
        <th>Amount To Be Received</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      {% if inv_proofs %}
        {% for proof in inv_proofs %}
        <tr>
          <td>{{ proof.section }}</td>
          <td>{{ proof.description }}</td>
          <td>{{ proof.policy_no }}</td>
          <td>{{ proof.payment_date }}</td>
          <td>{{ proof.relation_with_beneficiary }}</td>
          <td>{{ proof.amount }}</td>
          <td>{{ proof.approved_amount }}</td>
          <td>{{ proof.amount_to_be_received }}</td>
          <td>{{ proof.comments }}</td>
        </tr>
        {% endfor %}
      {% else %}
        <tr><td colspan="9">No data available in table</td></tr>
      {% endif %}
    </tbody>
  </table>
</div>

<div class="card">
  <h4>HRA Rent Proof Status</h4>
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>City</th>
        <th>Metro</th>
        <th>LandLord PanNo</th>
        <th>Monthly Rent Amount</th>
        <th>Approved Amount</th>
        <th>Amount To Be Received</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      {% if hra_proofs %}
        {% for proof in hra_proofs %}
        <tr>
          <td>{{ proof.from_date }}</td>
          <td>{{ proof.to_date }}</td>
          <td>{{ proof.city }}</td>
          <td>{{ proof.metro }}</td>
          <td>{{ proof.landlord_pan }}</td>
          <td>{{ proof.monthly_rent }}</td>
          <td>{{ proof.approved_amount }}</td>
          <td>{{ proof.amount_to_be_received }}</td>
          <td>{{ proof.comments }}</td>
        </tr>
        {% endfor %}
      {% else %}
        <tr><td colspan="9">No data available in table</td></tr>
      {% endif %}
    </tbody>
  </table>
</div>

</body>
</html>

{% endblock %}